<script type="text/x-red" data-template-name="docker-compose">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> <span data-i18n="node-red:common.label.name"></span></label>
        <input type="text" id="node-input-name" data-i18n="[placeholder]node-red:common.label.name">
    </div>

    <!--TODO: checkbox exit code -->
</script>

<script type="text/x-red" data-help-name="docker-compose">
    <p>Placeholder</p>
</script>

<script type="text/javascript">
    RED.nodes.registerType('docker-compose', {
        category: 'GeneSIS',
        color: '#fdf0c2',
        defaults: {
            name: {
                value: ""
            },
        },
        inputs: 1,
        outputs: 0,
        icon: "docker-compose.png",
        label: function() {
            return this.name||"docker-compose";
        },
        labelStyle: function () {
            return this.name ? "node_label_italic" : "";
        },
    });
</script>
